NET_LISTEN_ADDRESS=
DB_CONNECTION_STRING=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
JWT_SECRET_KEY=
TELEGRAM_BOT_TOKEN=
GRPC_SERVER_ADDRESS=

DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_CONN_MAX_IDLE_TIME=
DB_CONN_MAX_LIFETIME=